@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf"); }

.navbar {
  background-color: #1b263b; }

/*Box NOSOTROS*/
.contenedor-nosotros {
  display: flex;
  height: 60vh;
  padding-top: 15px; }

.iconos {
  text-align: center;
  padding: 0px 80px; }

/*Galería*/
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  height: 60vh;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer; }

/*Card EXPERIENCIAS*/
.card {
  width: 300px;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f8f9fa;
  box-shadow: 3px 5px 5px #032033;
  transition: 1s; }

/*Formulario CONTACTO*/
.formulario, .contenedor-contactanos main {
  width: 400px;
  margin: auto;
  background-color: #fb8500;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1b263b;
  box-shadow: 3px 5px 5px #032033;
  box-sizing: border-box; }

.formulario .dato, .contenedor-contactanos main .dato, .formulario .contenedor-contactanos main, .contenedor-contactanos .formulario main, .contenedor-contactanos main main {
  width: 95%;
  background-color: #f8f9fa;
  margin: 8px;
  padding: 10px;
  border: 1px solid #ffbe0b; }

.formulario .consulta, .contenedor-contactanos main .consulta, .formulario .contenedor-contactanos main, .contenedor-contactanos .formulario main, .contenedor-contactanos main main {
  width: 95%;
  background-color: #f8f9fa;
  margin: 8px;
  padding: 50px;
  border: 1px solid #ffbe0b; }

.formulario .boton, .contenedor-contactanos main .boton, .formulario .contenedor-contactanos main, .contenedor-contactanos .formulario main, .contenedor-contactanos main main {
  background-color: #415a77;
  margin: 8px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #1b263b;
  color: #f8f9fa; }

/*Contenedor cajas Footer*/
.contenedor-cajas {
  font-display: flex;
  flex-direction: column;
  width: 100%;
  color: #f8f9fa;
  text-align: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto"; }

h1 {
  display: flex;
  font-size: 8vh;
  justify-content: center;
  height: 15vh;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic; }

h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 25px;
  padding: 10px; }

p {
  text-align: justify;
  padding: 0 20px;
  font-size: 24px;
  color: black; }

/*INDEX*/
/*nav*/
.navbar a {
  color: #f8f9fa; }

.navbar-brand {
  width: 60%; }

.navbar-nav li {
  padding: 5px 40px 0 20px;
  font-size: 20px; }

.navbar li a:hover {
  background: #f8f9fa;
  opacity: 60%;
  color: #333;
  border-radius: 5px; }

.slogan {
  background-color: #ffb703;
  opacity: 80%; }
  .slogan h1 {
    font-size: 40px;
    text-transform: capitalize; }

/*NOSOTROS*/
.contenedor {
  height: 75vh;
  justify-content: center;
  background-image: url("../img/f10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  opacity: 80%; }

.iconos img {
  width: 30%;
  height: 30%;
  padding-bottom: 15px;
  transition: 1.5s; }

.iconos p {
  transition: 1s; }

.iconos p:hover {
  transform: scale(1.2);
  text-align: center; }

.iconos img:hover {
  transform: rotateY(180deg);
  animation-iteration-count: infinite; }

/*GALERIA PRODUCTOS*/
.contenedor-galeria {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/f8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%; }
  .contenedor-galeria h1 {
    color: #fb5607; }

/*galeria*/
.galeria li {
  list-style: none; }

.galeria img {
  transition: 1.5s;
  border-radius: 50px; }

.galeria img:hover {
  transform: scale(1.3);
  border-radius: 5px; }

/*EXPERIENCIAS*/
.contenedor-experiencias {
  width: 100%;
  height: 85vh;
  background-image: url("../img/f6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  opacity: 80%;
  justify-content: center;
  padding: 25px 0; }
  .contenedor-experiencias h1 {
    color: #f8f9fa; }

.card-container {
  display: flex;
  padding: 30px 0;
  margin: 20px;
  justify-content: space-evenly; }

.card p {
  font-size: 18px; }

.card:hover {
  color: #415a77;
  transform: scale(1.1); }

/*CONTACTACTO*/
.contactanos {
  width: 100%;
  height: 70vh;
  justify-content: center;
  background-image: url("../img/f5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%; }
  .contactanos h1 {
    color: #fb5607; }
  .contactanos h2 {
    color: #f8f9fa; }

.contenedor-contactanos {
  display: flex;
  justify-content: center;
  margin-bottom: 80px; }

.boton:hover, .contenedor-contactanos main:hover {
  cursor: pointer; }

/*FOOTER*/
.pie-de-pagina {
  width: 100%;
  height: auto;
  background-color: #1b263b; }

.contenedor-cajas .caja-1 img {
  width: 150px;
  height: 150px;
  margin: 10px; }

.contenedor-cajas .caja-2 {
  padding: 15px;
  width: 100%;
  height: 200px;
  /*Mapa*/ }
  .contenedor-cajas .caja-2 .seguinos {
    font-size: 2rem; }
    .contenedor-cajas .caja-2 .seguinos .contacto img {
      margin: 15px; }
  .contenedor-cajas .caja-2 .mapa {
    overflow: hidden; }
  .contenedor-cajas .caja-2 .copy {
    margin: 30px 0; }

.caja-1 img:hover {
  transform: rotate(1turn); }

.caja-2 img:hover {
  transform: scale(1.1); }

@media screen and (max-width: 768px) {
  body {
    /*INDEX*/
    /*NOSOTROS*/
    /*GALERIA*/
    /*EXPERIENCIAS*/
    /*CONTACTANOS*/ }
    body .slogan {
      width: 100%; }
      body .slogan h1 {
        padding: 0 25px;
        font-size: 15px;
        margin: 0 5px; }
    body .contenedor {
      display: flex;
      flex-direction: column;
      height: auto; }
    body .contenedor-nosotros {
      height: auto;
      flex-direction: column;
      margin-bottom: 25px; }
    body .iconos {
      width: 100%;
      margin: 10px; }
      body .iconos img {
        width: 60px;
        height: 60px; }
      body .iconos p {
        font-size: 15px;
        margin: 0 25px; }
    body .contenedor-galeria h1 {
      font-size: 32px;
      padding-bottom: 30px; }
    body .galeria {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      width: 90%;
      height: auto; }
      body .galeria img {
        width: 90px;
        height: 90px; }
    body .contenedor-experiencias {
      width: 100%;
      font-size: 32px;
      height: auto; }
    body .card-container {
      width: fit-content;
      margin: 0 auto;
      display: block; }
      body .card-container .card {
        margin: 35px;
        height: auto;
        padding-bottom: 5px; }
    body .contactanos {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box; }
    body .contenedor-contactanos {
      /*FOOTER*/ }
      body .contenedor-contactanos main .formulario, body .contenedor-contactanos main main {
        width: 90%;
        box-sizing: border-box; }
      body .contenedor-contactanos .pie-de-pagina {
        height: auto; }
      body .contenedor-contactanos .contenedor-cajas .caja-1 {
        width: 100%;
        height: 20px; }
      body .contenedor-contactanos .contenedor-cajas .caja-2 {
        width: 100%;
        height: 20px; }
        body .contenedor-contactanos .contenedor-cajas .caja-2 .seguinos {
          font-size: 10px; }
        body .contenedor-contactanos .contenedor-cajas .caja-2 img {
          width: 10px;
          height: 10px; }
      body .contenedor-contactanos .contenedor-cajas .mapa {
        width: 80%;
        overflow: hidden; }
      body .contenedor-contactanos .contenedor-cajas .copy {
        width: 90%;
        height: 10px;
        font-size: 5px; } }
