@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf"); }

.navbar {
  background-color: #1b263b; }

/*Box NOSOTROS*/
.contenedor-nosotros {
  display: flex;
  height: 60vh;
  padding-top: 25px; }

.iconos {
  text-align: center;
  padding: 0px 80px; }

/*Galería*/
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  height: 60vh;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer; }

/*Card EXPERIENCIAS*/
.card {
  width: 300px;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f8f9fa;
  box-shadow: 3px 5px 5px #032033;
  transition: 1s; }

/*Formulario CONTACTO*/
.formulario, .contenedor-contactanos main {
  width: 400px;
  background-color: #adb5bd;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1b263b;
  box-shadow: 3px 5px 5px #032033; }

.formulario .dato, .contenedor-contactanos main .dato, .formulario .contenedor-contactanos main, .contenedor-contactanos .formulario main, .contenedor-contactanos main main {
  width: 95%;
  background-color: #f8f9fa;
  margin: 8px;
  padding: 10px;
  border: 1px solid #ffbe0b; }

.formulario .consulta, .contenedor-contactanos main .consulta, .formulario .contenedor-contactanos main, .contenedor-contactanos .formulario main, .contenedor-contactanos main main {
  width: 95%;
  background-color: #f8f9fa;
  margin: 8px;
  padding: 50px;
  border: 1px solid #ffbe0b; }

.formulario .boton, .contenedor-contactanos main .boton, .formulario .contenedor-contactanos main, .contenedor-contactanos .formulario main, .contenedor-contactanos main main {
  width: 20%;
  background-color: #415a77;
  margin: 8px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #1b263b;
  color: #f8f9fa; }

/*Contenedor cajas Footer*/
.contenedor-cajas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
  color: #f8f9fa;
  text-align: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto"; }

h1 {
  display: flex;
  font-size: 8vh;
  justify-content: center;
  height: 15vh;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold; }

h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 25px;
  padding: 10px; }

p {
  text-align: justify;
  padding: 0 20px; }

/*INDEX*/
/*nav*/
.navbar a {
  color: #f8f9fa; }

.navbar-brand {
  width: 60%; }

.navbar-nav li {
  padding: 5px 40px 0 20px;
  font-size: 22px; }

.navbar li a:hover {
  background: #f8f9fa;
  opacity: 60%;
  color: #333;
  border-radius: 5px; }

/*NOSOTROS*/
.contenedor {
  height: 75vh;
  justify-content: center;
  background-color: #adb5bd;
  align-items: center; }

.iconos img {
  width: 30%;
  height: 30%;
  padding-bottom: 15px; }

.iconos p {
  transition: 1.5s;
  opacity: 0%; }

.iconos p:hover {
  opacity: 100%;
  transform: scale(1.2); }

/*GALERIA PRODUCTOS*/
.contenedor-galeria {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; }

/*galeria*/
.galeria li {
  list-style: none; }

.galeria img {
  transition: 1.5s;
  opacity: 70%;
  border-radius: 50px; }

.galeria img:hover {
  transform: scale(1.3);
  opacity: 100%;
  border-radius: 5px; }

/*EXPERIENCIAS*/
.contenedor-experiencias {
  width: 100%;
  height: 85vh;
  background-color: #adb5bd;
  text-align: center;
  justify-content: center;
  padding: 25px 0; }

.card-container {
  display: flex;
  padding: 30px 0;
  margin: 20px;
  justify-content: space-evenly; }

.card:hover {
  background-color: #ffb703;
  color: #415a77;
  transform: scale(1.1); }

/*CONTACTACTO*/
.contactanos {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  background-color: #f8f9fa;
  align-items: center; }

.contenedor-contactanos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px; }

/*Mapa*/
.mapa {
  border: 1px solid #1b263b;
  box-shadow: 3px 5px 5px #032033; }

/*FOOTER*/
.pie-de-pagina {
  width: 100%;
  height: 22vh;
  background-color: #1b263b; }

.contenedor-cajas .caja-1 img {
  width: 150px;
  height: 150px;
  transition: 1.2s; }

.contenedor-cajas .caja-2 {
  padding: 15px;
  width: 100%;
  height: 200px; }
  .contenedor-cajas .caja-2 .seguinos {
    margin-bottom: 10px;
    font-size: 2rem;
    padding: 20px; }
    .contenedor-cajas .caja-2 .seguinos .contacto {
      width: 230px;
      height: 200px; }
      .contenedor-cajas .caja-2 .seguinos .contacto img {
        width: 20%;
        height: 20%; }

.caja-1 img:hover {
  transform: rotate(1turn); }

.caja-2 img:hover {
  transform: scale(1.1); }

@media screen and (max-width: 767px) {
  body {
    /*NOSOTROS*/
    /*GALERIA*/
    /*EXPERIENCIAS*/
    /*CONTACTANOS*/
    /*FOOTER*/ }
    body .contenedor {
      display: flex;
      flex-direction: column;
      height: auto; }
      body .contenedor h1 {
        font-size: 32px;
        padding-top: 15px; }
    body .contenedor-nosotros {
      height: auto;
      flex-direction: column; }
    body .iconos {
      height: auto;
      width: 100%;
      margin: 10px; }
      body .iconos img {
        width: 60px;
        height: 60px; }
      body .iconos h2 {
        font-size: 18px; }
      body .iconos p {
        font-size: 15px;
        margin: 0 25px; }
    body .contenedor-galeria h1 {
      font-size: 32px;
      padding-bottom: 30px; }
    body .galeria {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      width: 90%;
      height: auto; }
      body .galeria img {
        width: 80px;
        height: 80px; }
    body .contenedor-experiencias {
      font-size: 32px; }
    body .card {
      margin: 5px;
      height: auto;
      padding-bottom: 5px; }
      body .card h2 {
        font-size: 12px;
        padding-top: 2px; }
      body .card p {
        font-size: 10px;
        overflow: hidden;
        padding: 1px 15px; }
    body .contactanos {
      height: auto;
      width: 100%;
      display: block; }
      body .contactanos h1 {
        font-size: 32px;
        padding-bottom: 5px;
        text-align: center; }
    body .contenedor-contactanos {
      margin-bottom: 5px;
      display: inline-block;
      margin-left: 36%;
      margin-bottom: 15px; }
      body .contenedor-contactanos main .formulario, body .contenedor-contactanos main main {
        width: 240px;
        height: 240px;
        padding-bottom: 5px;
        margin-bottom: 15px; }
      body .contenedor-contactanos main .dato, body .contenedor-contactanos main main {
        width: 95%;
        margin: 2px;
        padding: 3px; }
      body .contenedor-contactanos main h2 {
        font-size: 12px;
        padding: 5px; }
      body .contenedor-contactanos main .consulta, body .contenedor-contactanos main main {
        width: 95%;
        margin: 2px;
        padding: 3px; }
      body .contenedor-contactanos main .boton, body .contenedor-contactanos main main {
        width: 40%;
        margin: 5px;
        padding: 8px; }
    body .mapa {
      width: 240px;
      height: 240px;
      overflow: hidden; }
    body .pie-de-pagina {
      height: auto; }
    body .contenedor-cajas {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .contenedor-cajas .caja-1 {
        width: 50px;
        height: 50px;
        padding-top: 10px; }
        body .contenedor-cajas .caja-1 img {
          width: 100px;
          height: 100px; }
      body .contenedor-cajas .caja-2 {
        display: block;
        width: 50px;
        height: 50px; }
        body .contenedor-cajas .caja-2 .seguinos {
          visibility: hidden; }
          body .contenedor-cajas .caja-2 .seguinos .contacto {
            width: 130px;
            height: 130px; }
            body .contenedor-cajas .caja-2 .seguinos .contacto .copy {
              padding-bottom: 10px; } }
