$border-s-1:1px solid #1b263b;
$border-2:10px;
$border-3:15px;
$border-4:50px;
$border-5:5px;

$margin-1:8px;
$margin-2:5px auto;

$padding-1: 10px;
$padding-2: 50px;
$padding-3: 25px 0;
$padding-4: 30px 0;
$padding-b1: 15px;
$padding-b2: 25px;
$padding-t1: 25px;