@import '_font.scss';
@import '_base.scss';
@import '_bg.scss';
@import '_varios.scss';

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family; 
    }

h1 {
    display: flex;
    font-size:$font-size-1;
    justify-content: center;
    height: 15vh;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: $font-size-2;
    text-align: center;
    padding-bottom: 25px;
    padding:$padding-1;
}

p {
    text-align: justify;
    padding: 0 20px;
    font-size: 24px;
    color: black;
}


/*INDEX*/

/*nav*/

.navbar {
    @extend .navbar;

    a {
        color: $bg-color-w;
    }
}

.navbar-brand {
    width: 60%;
}

.navbar-nav li {
    padding: 5px 40px 0 20px;
    font-size: 20px;
}

.navbar li a:hover{
    background:#f8f9fa;
    opacity: 60%;
    color: #333;
    border-radius: 5px;
}

.slogan {
    background-color: $bg-color-y;
    opacity: 80%;


    h1{
        font-size: 40px;
        text-transform: capitalize;
    }
}

/*NOSOTROS*/   

.contenedor {
    height: 75vh;
    justify-content: center;
    background-image: url("../img/f10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    opacity: 80%;
}

.contenedor-nosotros{
    @extend .contenedor-nosotros;

}

.iconos {
    @extend .iconos;

    img {
        @include box (30%,30%);
        padding-bottom: 15px;
        transition: 1.5s;
        } 

    p {
        transition: 1s;
    }
}

.iconos p:hover {
    transform: scale(1.2);
    text-align: center;
}

.iconos img:hover{
    transform: rotateY(180deg);
    animation-iteration-count: infinite;
}
/*GALERIA PRODUCTOS*/

.contenedor-galeria {
    @include box(100%,80vh);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/f8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;

    h1{
        color:$bg-color-d;
    }
}

/*galeria*/
.galeria {
    @extend .galeria;

    li{
        list-style: none;
    }

    img{
        transition: 1.5s;
        border-radius: 50px;
    }
}

.galeria img:hover{
    transform: scale(1.3);
    border-radius: 5px;
}


/*EXPERIENCIAS*/

.contenedor-experiencias{
    @include box(100%,85vh);

    background-image: url("../img/f6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 80%;
    justify-content: center;
    padding: $padding-3;

    h1{
        color:$bg-color-w;
    }
}

.card-container {
    display: flex;
    padding: $padding-4;
    margin: 20px;
    justify-content: space-evenly;
}

.card {
    @extend .card;

    p{
        font-size: 18px;
    }
}

.card:hover{
    color: $bg-color-t;
    transform: scale(1.1);
}


/*CONTACTACTO*/
.contactanos {
    @include box(100%,70vh);
    justify-content: center;
    background-image: url("../img/f5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;

    h1 {
        color:$bg-color-d;
    }

    h2{
        color:$bg-color-w;
    }
}

.contenedor-contactanos {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    main {
        @extend .formulario;
        @extend .dato;
        @extend .consulta;
        @extend .boton;
    }
}

.boton:hover{
    cursor: pointer;
}

/*FOOTER*/

.pie-de-pagina{
    @include box(100%,auto);

    background-color:$bg-color-navfoot;
}

.contenedor-cajas{
    @extend .contenedor-cajas;

    .caja-1{

        img{
        @include box(150px,150px);
        margin: 10px;
        }
    }

    .caja-2{
        padding: $padding-b1;

        @include box(100%,200px);

        .seguinos {
            font-size: $font-size-2;

            .contacto {
                img {
                    margin: 15px;
                }
            }
        }
        /*Mapa*/
        .mapa {
            overflow: hidden
        }
        .copy{
            margin: 30px 0;
        }
    }
}

.caja-1 img:hover{
    transform: rotate(1turn);
}

.caja-2 img:hover{
    transform: scale(1.1);
}


$vista:mobile;

body {
    @if $vista==desktop {
        @media screen and (max-width:1024px) {

            body{
                width: 100%;
            }
            .pie-de-pagina {
                height: auto;
            }
        }
    }

    @else if $vista==mobile {
        @media screen and (max-width:768px){

            /*INDEX*/
            .slogan {
                width: 100%;
                
                h1{
                    padding: 0 25px;
                    font-size: 15px;
                    margin: 0 5px;
                }
            }

            /*NOSOTROS*/
            .contenedor {
                display: flex;
                flex-direction: column;
                height: auto;
            }

            .contenedor-nosotros {
                height: auto;
                flex-direction: column;
                margin-bottom: 25px;
            }
            
            .iconos { 
                width: 100%;
                margin: 10px;
        
                img { 
                    @include box(60px,60px); 
                }

                p {
                    font-size: 15px;
                    margin: 0 25px;
                }
            }

            /*GALERIA*/
            .contenedor-galeria {
                h1 {
                    font-size: 32px;
                    padding-bottom: 30px;  
                }
            }

            .galeria {
                grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
                width: 90%;
                height: auto;
        
                img{
                    @include box (90px,90px);
                }
            }

            /*EXPERIENCIAS*/
            .contenedor-experiencias {
                width: 100%;
                font-size: 32px;
                height: auto;
            }

            .card-container {
            width: fit-content;
            margin: 0 auto;
            display: block;

                .card {
                    margin: 35px;
                    height: auto;
                    padding-bottom: 5px;
                }
            }

            /*CONTACTANOS*/
            .contactanos {
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
            }

            .contenedor-contactanos {
                main {
                    .formulario {
                        width: 90%;
                        box-sizing: border-box;
                    }       
            }

            /*FOOTER*/
            .pie-de-pagina {
                height: auto;
            }

            .contenedor-cajas{
            
                .caja-1{
                    @include box (100%,20px);
                }
            
                .caja-2{
                    @include box (100%,20px);

                    .seguinos {
                        font-size: 10px;
                    }
                    img{
                        @include box (10px,10px);
                    }
                }
                .mapa {
                    width: 80%;
                    overflow: hidden;
                }
                .copy {
                    @include box (90%,10px);
                    font-size: 5px; 
                    }
                } 
            }
        }
    } 

    @else {
        /*INDEX*/
        .slogan {
            h1{
                padding: 0 25px;
                font-size: 15px;
                margin: 0 5px;
            }
        }
        /*NOSOTROS*/
        .contenedor-nosotros {
            height: auto;
            flex-direction: column;
        }

        .contenedor {
            display: flex;
            flex-direction: column;
            height: auto;

            h1 {
                font-size: 25px;
                padding-top: 15px;
            }
        }

        .iconos {
            height:auto;
            width: 100%;
            margin: 10px;

            img { 
                @include box(50px,50px); 
            }

            h2 { font-size: 15px; }
        
            p {font-size: 10px;}
        }
        /*GALERIA*/
        .contenedor-galeria {
            h1 {
                font-size: 25px;
                padding-bottom: 50px;  
            }
        }

        .galeria {
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
            width: 90%;
            height: auto;

            img{
                @include box (80px,80px);
            }
        }
        /*EXPERIENCIAS*/
        .contenedor-experiencias {
            height: auto;
            width: 100%;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 25px;
                padding-bottom: 10px;
            }
        }
        .card-container {
            width: fit-content;
            margin: 0 auto;
            display: block;

            .card {
                margin: 20px;
                overflow: hidden;
                @include box(80%,200px);
            }
        }
        /*CONTACTANOS*/
        .contactanos {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 25px;
                padding-bottom: 5px;
                text-align: center;
            }
        }

        .contenedor-contactanos {
            width: 100%;
            display: flex;
            flex-direction: column;
            
                main {
                    .formulario {
                        width:100%;
                    }       
                }
        }

        /*FOOTER*/
        .pie-de-pagina {
            height: auto;
        }

        .contenedor-cajas{
            width: 100%;

            .caja-1{
                @include box (100%,20px);
                padding-top: 10px;
            }
        
            .caja-2{
                @include box (100%,20px);
                
                .seguinos {
                    font-size: 10px;
                }
                img {
                    @include box (10px,10px);
                }
            }
            .mapa {
                width: 80%;
                overflow: hidden;
            }
            .copy {
                @include box (90%,10px);
                font-size: 5px;
            }
        }
    }
}